body {
    padding: 1px 20px;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font-size: 14px;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    line-height: 1.4em;
    text-align: center;
}

a {
  color: #00B7FF;
}

p.matchingTable {
    width: 180px;
    height: 160px;
    margin: 10px;
    background-color: #66FF66;
    border: outset 2px #000000;
    float:left;
}

span.startTime {
    text-align: center;
    background-color: #FFFFFF;
    padding: 2px;
    margin: 2px;
    display: block;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.tablePart {
    margin: 0px;
    border: solid 1px #000000;
}

#roleArea {
    width: 160px;
    height: 160px;
}

#mainCanvas {
    width: 560px;
    height: 160px;
}

#explainArea {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2em;
    font-size: 12px;
}

.participants {
    float: left;
    width: 300px;
    height: 500px;
    text-align: left;
    padding: 2px;
    border-right: outset 0 #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: scroll;
}

.participants div:nth-child(2n) {
    background-color: white;
}

.participants div:nth-child(2n+1) {
    background-color: #f6f6f6;
}

.participants button:nth-child(2n) {
    background-color: white;
}

.participants button:nth-child(2n+1) {
    background-color: #f1f1f1;
}

.participants div:nth-child(1) {
    text-align: center;
    background-color: black;
    color: white;
}

#chat {
    float: left;
    width: calc(100% - 310px);
    height: 400px;
}

#mainChatBox {
    width: 100%;
    height: 340px;
}

#mainChat {
    width: 100%;
    height: calc(100% - 22px);
    overflow: scroll;
    text-align: left;
    padding: 2px;
}
#submitChat {
    height: 22px;
}

#mainChatInput {
    float: left;
    width: calc(100% - 95px);
    height: 16px;
}

#mainChatButton {
    float: left;
    width: 80px;
    height: 22px;
    background-color: #00B7FF;
    color: #F6F6F6;
}

#privateChatBox {
    width: 100%;
    height: 156px;
}

#privateChat {
    width: 100%;
    height: calc(100% - 22px);
    overflow: scroll;
    text-align: left;
    padding: 2px;
}

#submitPrivateChat {
    height: 22px;
}

#privateChatInput {
    float: left;
    width: calc(100% - 95px);
    height: 16px;
}

#privateChatButton {
    float: left;
    width: 80px;
    height: 22px;
    background-color: #00B7FF;
    color: #F6F6F6;
}

div.dead {
    color: #EEEEEE;
}

button.voteButton {
    display: block;
}

.villager {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #adff2f;
    font-size: 60px;
}

.fortuneTeller{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8E68A6;
    font-size: 50px;
}

.psychic{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    font-size: 50px;
}

.hunter{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EB7988;
    font-size: 60px;
}

.inu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFF99;
    font-size: 60px;
}

.madman{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #542251;
    font-size: 60px;
    color: #FFFFFF;
}

.shares {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00bfff;
    font-size: 50px;
}

.werewolf{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    font-size: 60px;
    color: #FF0000;
}